<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El tiempo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <div class="container-fluid" id="app">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <h2 class="navbar-brand d-flex align-items-center">
                    <strong>El tiempo</strong>
                </h2>
            </div>
        </div>
        <div class="row">
            <div v-if="showLoader" class="col-sm-12 loader">
                <div class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Conectando con el servidor ...</span>
                  </div>
                </div>
            </div>
            <div v-if="locations.length > 0" v-for="location in locations" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xs-2 mb-4">
                <div  class="card border-secondary" style="max-width: 18rem;">
                    <div class="card-header"><strong>{{ location.name }} ( {{ location.code }} )</strong></div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Hora local:  <span class="time">{{ location.time }}</span> </h5>
                        <h2>{{ location.temperature }}°C</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="./assets/js/moment.min.js"></script>
    <script src="./assets/js/reconnecting-websocket.min.js"></script>
    <script src="./assets/js/config.js"></script>
    <script src="./assets/js/weather.js"></script>
</body>
</html>